{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CATÁLOGO PESSOAL</title>
</head>

<body>
    <header id="cabecalho">
		<h1>SEJA BEM VINDO AO MEU CATÁLOGO PESSOAL DE FILMES</h1>
	</header>

	<div id="conteudo">
		<h2>MEUS FILMES FAVORITOS</h2>
		<img src="{% static ..\img\star_wars_4.jpg %}">
		<img src="{% static ..\img\duro_de_matar.jpg %}">
		<img src="{% static ..\img\maquina_mortifera_3.jpg %}">
		<img src="{% static ..\img\top_gun.jpg %}">
		<img src="{% static ..\img\missao_impossivel.jpg %}">
	</div>

	<footer id="rodape">
		<p>MCM 2022&copy LIÇÃO DE CASA MÓDULO 7</p>
	</footer>
</body>
</html>