{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static '../../../static/css/style.css' %}">
	<title>CATÁLOGO PESSOAL</title>
</head>

<body>
	<header>
		<h1>SEJA BEM VINDO AO MEU CATÁLOGO PESSOAL DE FILMES</h1>
	</header>

	<div id="conteudo">
		<h2 class="paragrafo-img">MEUS FILMES FAVORITOS</h2>
		<img src="{% static '../../../static/img/sw4.jpg' %}" alt="StarWars4">
		<img src="{% static '../../../static/img/dm.jpg' %}" alt="DuroDeMatar">
		<img src="{% static '../../../static/img/tg.jpg' %}" alt="ToGun">
		<img src="{% static '../../../static/img/mm3.jpg' %}" alt="MaquinaMortifera3">
		<img src="{% static '../../../static/img/mi.jpg' %}" alt="MissaoImpossivel">
	</div>

	<footer>
		<p>MCM 2022&copy LIÇÃO DE CASA MÓDULO 7</p>
	</footer>
</body>

</html>