@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic&family=Lato:wght@100&family=Roboto:wght@100&display=swap');

header {
    padding: 10px;
    background-color: #0066cc;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
}

#conteudo img {
    margin-left: 60px;
}

.paragrafo-img {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 20px;
}

footer {
    padding: 10px;
    font-family: 'BIZ UDGothic', sans-serif;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 10px;
    background-color: #888888;
    color: white;
}